.header {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 60px;
}
.header span {
  display: block;
}
.section {
  padding: 20px 0;
}
.form {
  border: 5px solid #2727d9;
  padding: 30px 50px;
  margin-bottom: 20px;
}
.form-btn {
  background-color: red;
}
.form input {
  margin-bottom: 15px;
}
.form-header,
.section-header {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.feature {
  margin: 50px auto;
}
.feature p {
  margin-top: 5px;
}
.video {
  margin-bottom: 30px;
}
.feature-box {
  height: 200px;
}
.btn-box {
  padding: 100px;
}
